canvas {
	/*border: 2px solid black;*/
	border: 0px;
	background-color: black;
  margin: auto;
  display: block;
  /*display: block;*/
  /*position: absolute;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
}
/*#main2 {*/
  /*width: 100%;*/
/*}*/

.pbarouter {
  border: solid #444444 3px;
  border-radius: 10px;
  width: 200px; height: 30px;
  margin-top: 5px; display: inline-block;
}
.pbarinner {
  width: 0; 
  height: 24px;
  background-color: #444444;
  border-radius: 5px;
  position: absolute;
  margin: 3px;
  line-height: 24px;
  color: #BBBBBB;
  /*box-shadow: 0 0 4px black inset;*/
}

#main {
  text-align: center;
}

#viewer {
  display: inline-block;
}

video {
	display: none;
}
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: black;
  color: #999999;
  font-family: arial;
}

#msg {
  margin-top: 100px;
  font-size: 18px;
  text-align: center;
  color: #BBBBBB;

}
#fps {
  /*color: #72b584;*/
  color: #cf7171;
  display: block;
  font-size: 16px;
}

#canvas-clip, #webgl-canvas {
  box-sizing: border-box;
  /*height: 100%;*/
  /*left: 0;*/
  /*margin: 0;*/
  /*top: 0;*/
}

#canvas-clip.presenting {
  /* This property allows the canvas-clip div to hide the parts of the
  WebVR canvas that extend past it's bounds without adding scrollbars*/
  overflow: hidden;

  /* These center the div on the screen */
  bottom: 0;
  right: 0;
  margin: auto;
}

.presenting #webgl-canvas {
  /* By making the canvas 200% as wide as it's parent we'll only see the
  left eye's content. The rest will be cropped by the parent div */
  width: 200%;
}

#workspace {
  position: relative;
}

#cursor {
  width: 3px;
  height: 3px;
  display: block;
  position: absolute;
  background-color: white;
}

#canvastmp {
  width: 800px;
  height: 600px;
  background-color: #333333;
  display: none;
}

#rotation_plane, #rendered_planes, #show_plane, #spin_radius, #spin_speed {
  width: 130px;
  display: inline-block;
  /*margin-left: 30px;*/
}
#amount, #center, #plane, #speed, #radius {
  width: 80px;
  display: inline-block;
  text-align: center;
}
.desc {
  display: inline-block;
}

.info {
  display: inline-block;
  margin: auto;
}
.trheader {
  font-size: 14px;
}
.trheader td {
  padding: 0 50px;
}

#zoom-selector, #spin_speed_text, #spin_radius_text {
  display: inline;
}

#motion-selector {
  background: none repeat scroll 0 0 #7a7a7a;
  /*border: 1px solid #E5E5E5;*/
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 10px #555555 inset;
  height: 25px;
  padding: 3px;
  width: 110px;
}


.ui-slider-handle {
  background-color: #555555 !important;
  border: 1px solid #555555 !important;
  width: 25px !important;
  height: 18px !important;
}

.sliding_active .ui-slider-handle {
  background-color: #e18a09 !important;
  border: 1px solid #e18a09 !important;
  width: 25px !important;
  height: 18px !important;
}

.ui-slider-disabled {
  background-color: #454545 !important;
}

.ui-slider {
  height: 10px;
  background-color: #212121;
  border: 1px solid black !important;
}
.sliding_active .ui-slider {
  height: 10px;
  background-color: #673e00;
  border: 1px solid black !important;
}

.ui-slider-range {
  background-color: #414141;
  border: 1px solid black !important;
}

.sliding_active .ui-slider-range {
  background-color: #985b00;
  border: 1px solid #985b00 !important;
}
.sliding_active {
  color: #c19100;
}
.sliding_disabled {
  color: #3c3c3c;
}

.rradio input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0px;
}

.rradio input + label {
  margin: 0px;
  background-color: #3e3e3e;
  padding: 2px 15px;
  cursor: pointer;
  border-radius: 5px;
  color: #828282;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  line-height: 20px;
  font-size: 14px;
}
.rradio input:checked + label {
  background-color: #797979;
  color: black;
}
.section {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
}
